// 全局的一些变量

/* Main */
$main: #20b2aa;
// alias for element ui
$--color-primary: $main;

/* Media Query */
$small: "min-width: 576px";
$middile: "min-width: 768px";
$large: "min-width: 1200px";
$larger: "min-width: 1920px";

@mixin screen($screenSize) {
	@media (#{$screenSize}) {
		@content;
	}
}


/* User-Card */
$card-width: 20vw;
$static-card-width: 301px;