// 全局的一些变量

/* Main */
$main: #20b2aa;
// alias for element ui
$--color-primary: $main;

/* Media Query */
$small: "min-width: 576px";
$middile: "min-width: 768px";
$large: "min-width: 1200px";
$larger: "min-width: 1920px";

@mixin screen($screenSize) {
  @media (#{$screenSize}) {
    @content;
  }
}

:root {
  // User Card Width
  --card-width: 20vw;
  --card-height: calc(var(--card-width) * 1.414);

  @include screen($larger) {
    --card-width: 301px;
  }
}
