/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

// use default.scss to replace this
// $--color-primary: #48b1bf;
@import "./default.scss";

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

.el-card {
  border: none !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  &.is-hover-shadow:hover,
  &.is-hover-shadow:focus {
    box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.1);
  }
}

// Dialog
.el-dialog {
  border-radius: 1rem;

  min-width: 450px;
  max-height: 80vh;
  margin: 0px !important;

  overflow: hidden;
}

.el-dialog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.el-dialog__header,
.el-message-box__title {
  color: #95a5a6 !important;
}
