$count: 10;
// $color: #ff6e7f #bfe9ff;
$color: #00467f #a5cc82;

.reflect-loading {
  z-index: 2;
  display: flex;
  height: 40px;
  padding: 0px 50px;
  -webkit-box-reflect: below 0 linear-gradient(rgba(#fff, 0), rgba(#fff, 0.7));
  & > div {
    width: 10px;
    border-radius: 5px;
    @for $i from 0 to $count {
      $args: append($color, $i * 100% / ($count - 1));
      &:nth-child(#{$i + 1}) {
        background-color: mix($args...);
        animation: rotate 3s cubic-bezier(0.81, 0.04, 0.4, 0.7) infinite;
        animation-delay: $i * 50ms;
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-0.5turn) rotateX(-1turn);
  }
  75%,
  100% {
    transform: none;
  }
}
