@import "font";
@import "loading-ani";
@import "dashed-shadow";

.transition {
  transition: all 0.1s;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.6s ease-in;
  }

  > .title {
    font-family: "Parisienne", cursive;
    font-size: 160px;
  }
}
